<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lsposed.lspatch">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>

    <!-- Dhizuku -->
    <uses-permission android:name="com.rosan.dhizuku.permission.BIND_DHIZUKU_SERVICE"/>

    <application
        android:name=".LSPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="application/vnd.android.package-archive"/>
            </intent-filter>

        </activity>

        <service
            android:name=".manager.ModuleService"
            android:exported="true"/>

        <!-- Shizuku -->
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:exported="false"
            android:multiprocess="false"/>

        <service
            android:name=".ShizukuService"
            android:exported="false"/>

        <!-- Dhizuku -->
        <service
            android:name=".DhizukuService"
            android:exported="true"
            android:permission="com.rosan.dhizuku.permission.BIND_DHIZUKU_SERVICE"/>

    </application>

</manifest>